@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700&display=swap");
.loader {
  position: fixed;
  top: 0;
  bottom: initial;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: initial;
  z-index: 99999;
  display: none;
}
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: var(--backRightIn);
  margin: auto;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  background: #FFF;
  width: 50%;
  height: 100%;
}
.loader::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: initial;
  left: 0;
  transform: var(--backLefttIn);
  margin: auto;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  background: #FFF;
  width: 50%;
  height: 100%;
}
.loader .spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  width: 60px;
  height: 60px;
  z-index: 9;
}
.loader .spinner .item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}
.loader .spinner .item.item-1 {
  background-color: #4ECEB6;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-2 {
  background-color: #6D6D6D;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-3 {
  background-color: #1B91F7;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-4 {
  background-color: #FAC24C;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
@keyframes item-1_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 30px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(30px, 0);
  }
}
@keyframes item-2_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-30px, 0);
  }
  50% {
    transform: translate(-30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
}
@keyframes item-3_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(-30px, -30px);
  }
  75% {
    transform: translate(-30px, 0);
  }
}
@keyframes item-4_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, -30px);
  }
  75% {
    transform: translate(0, -30px);
  }
}

header .logo img {
  max-width: 70px;
}
header .last-control a:nth-child(2) {
  margin: 0 40px;
}

:root {
  --backRightIn: translateX(0);
  --backLefttIn: translateX(0);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: "Tajawal", sans-serif;
}

a, button, input, textarea, i {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  color: #6D6D6D !important;
}

i {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: 1px solid #CFCFCF;
  padding: 10px 20px;
  border-radius: 2px;
}

textarea {
  border: 1px solid #CFCFCF;
  padding: 10px 20px;
  border-radius: 2px;
  min-height: 100px;
  resize: none;
}

::-webkit-input-placeholder {
  color: #989898;
  opacity: 1;
}

::-moz-placeholder {
  color: #989898;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #989898;
  opacity: 1;
}

:-moz-placeholder {
  color: #989898;
  opacity: 1;
}

.fix-icon-Input {
  position: absolute;
  top: 50%;
  bottom: initial;
  right: initial;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.colorMain {
  color: #4ECEB6 !important;
}

.secondColor {
  color: #6D6D6D !important;
}

.bgColorMain {
  background-color: #4ECEB6 !important;
}

.bgSecondColor {
  background-color: #6D6D6D !important;
}

.bgColorInput {
  background-color: #CFCFCF !important;
}

.bgColorMainOp {
  background-color: #CAFFF4;
}

.borderColorMain {
  border: 1px solid #4ECEB6 !important;
}

.borderSecondColor {
  border: 1px solid #6D6D6D !important;
}

.borderColorInput {
  border: 1px solid #CFCFCF !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-button {
  height: 40px;
  width: 160px;
  font-size: 14px;
}
.btn-button:hover {
  transform: scale(0.9);
}

.overlay-fixed {
  position: fixed;
  top: 0;
  bottom: initial;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-absolute {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.back {
  transform: translate(0) !important;
}

.hv {
  height: 100vh;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
}

.main-body {
  min-height: 500px;
}

.old-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.height-view-scroll {
  height: 500px;
  overflow-y: auto;
}

.small-font-10 {
  font-size: 10px;
}

.small-font-11 {
  font-size: 11px;
}

.small-font-12 {
  font-size: 12px;
}

.small-font-13 {
  font-size: 13px;
}

.small-font-14 {
  font-size: 14px;
}

.icon-circle {
  width: 35px;
  height: 35px;
}

.img-circle {
  width: 50px;
  height: 50px;
}

.img-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.box-circle {
  position: absolute;
  top: -320px;
  bottom: initial;
  right: initial;
  left: -320px;
  transform: initial;
  margin: auto;
}
.box-circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
  background-color: #03C5A0;
}
.box-circle span:first-child {
  width: 800px;
  height: 800px;
  top: -25px;
  left: -25px;
  background-color: #57AE9E;
  opacity: 33%;
}

.click-nav {
  display: none;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 44px;
  justify-content: center;
}
.click-nav .handle {
  background: #4ECEB6;
  height: 1px;
  width: 100%;
  margin: 0.32em auto;
  transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}
.click-nav .closed {
  transform: rotate(45deg);
  width: 40px;
  position: relative;
  top: -7px;
}
.click-nav .closed:nth-of-type(2) {
  transform: rotate(-45deg);
  margin: -0.5em 0.5em;
}
.click-nav .closed:nth-of-type(3) {
  display: none;
}

.tab-mobile {
  position: fixed;
  top: initial;
  bottom: 0;
  right: initial;
  left: 0;
  transform: initial;
  margin: auto;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  z-index: 995;
  border-radius: 30px 30px 0 0;
}
.tab-mobile li {
  top: -20px;
  width: 50px;
  height: 50px;
}

.images-upload-block .upload-img input {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.images-upload-block .uploaded-block {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.images-upload-block .uploaded-block img {
  width: 100%;
  height: 100%;
}
.images-upload-block .uploaded-block .close {
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: initial;
  margin: auto;
  background-color: rgba(243, 79, 63, 0.3) !important;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.main-body-home .bg-image {
  background-image: url("../../images/vector.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.main-body-home .img-info-home::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: 0;
  transform: rotate(-10deg);
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 420px;
  height: 580px;
  border-radius: 15px;
}
.main-body-home .img-info-home .shame {
  position: absolute;
  top: initial;
  bottom: 170px;
  right: initial;
  left: initial;
  transform: initial;
  margin: auto;
  max-width: 150px;
}
.main-body-home .img-info-home .bg-in {
  width: 410px;
  height: 570px;
  border-radius: 15px;
  z-index: 9;
}
.main-body-home .in-box-home {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}
.main-body-home .in-box-home .icon-down {
  transform: rotate(90deg);
}

@media (max-width: 990px) {
  nav {
    position: fixed;
    top: 0;
    bottom: initial;
    right: initial;
    left: initial;
    transform: initial;
    margin: auto;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    z-index: 999;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
  }
  nav li {
    display: block;
  }
  .main-body-home .img-info-home {
    margin-top: 100px;
  }
  .main-body-home .img-info-home::after {
    width: 100%;
    height: 580px;
  }
  .main-body-home .img-info-home .shame {
    display: none;
  }
  .main-body-home .img-info-home .bg-in {
    width: 100%;
    height: 570px;
  }
  .main-body-home .over-watch {
    flex-direction: column;
  }
  .main-body-home .over-watch .in-box-home {
    width: 100%;
    margin: 10px 0;
  }
  .main-body-home .over-watch .in-box-home .icon-down {
    transform: rotate(90deg);
  }
}
html[dir=ltr] body {
  direction: ltr;
}
html[dir=ltr] .overlay-fixed {
  transform: translateX(-100%);
  left: 0;
}
html[dir=ltr] .main-body-home .img-info-home .shame {
  left: -60px;
  transform: scale(-1.1, 1.1);
}
@media (max-width: 990px) {
  html[dir=ltr] nav {
    transform: translateX(-100%);
    left: 0;
  }
}

html[dir=rtl] body {
  direction: rtl;
}
html[dir=rtl] .overlay-fixed {
  transform: translateX(100%);
  right: 0;
}
html[dir=rtl] .main-body-home .img-info-home .shame {
  right: -60px;
}
@media (max-width: 990px) {
  html[dir=rtl] nav {
    transform: translateX(100%);
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */