@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

// Circles
.box-circle{
    @include positionItem(absolute, -320px, initial, initial, -320px, initial);
    span{
        &:first-child{
            width: 800px;
            height: 800px;
            top : -25px;
            left: -25px;
            background-color: #57AE9E;
            opacity: 33%;
        }
        position: absolute;
        top : 0;
        left: 0;
        width: 700px;
        height: 700px;
        background-color: #03C5A0;
    }
}

// Style ChickBox
.chick-box {
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: auto;
        &:checked {
            ~ .checkmark {
                background-color: $MainColor;
                border: 1px solid $MainColor;
            }
            ~ .checkmark:after {
                display: block;
            }
        }
    }
    .checkmark {
        @include positionItem(relative, 0, initial, 0, initial, initial);
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid $MainColor;
        display: inline-block;
        vertical-align: middle;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 2px;
            width: 8px;
            height: 14px;
            border: solid $White;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

// Style RadioBox
.radio-box {
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: auto;
        &:checked {
            ~ .checkmark {
                border: 1px solid $MainColor;
                background-color: $MainColor;
            }
            ~ .checkmark:after {
                display: block;
            }
        }
    }
    .checkmark {
        border: 1px solid #ddd;
        position: relative;
        display: inline-block;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border-radius: 5px;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 8px;
            top: 3px;
            width: 8px;
            height: 14px;
            border: solid $White;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

// Style Click Nav
.click-nav {
    display: none;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 999;
    width: 40px;
    height: 44px;
    justify-content: center;
    .handle {
      background: $White;
      height: 1px;
      width: 100%;
      margin: 0.32em auto;
      transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
      transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
    }
    .closed {
      transform: rotate(45deg);
      width: 40px;
      position: relative;
      top: -7px;
    }
    .closed:nth-of-type(2) {
      transform: rotate(-45deg);
      margin: -0.5em 0.5em;
    }
    .closed:nth-of-type(3) {
      display: none;
    }
}

// Style Tab Mobile
.tab-mobile {
    @include positionItem(fixed, initial, 0, initial, 0, initial);
    @include transition(1s);
    z-index: 995;
    border-radius: 30px 30px 0 0;
    li{
        top: -20px;
        width: 50px;
        height: 50px;
    }
}

// Image Upload
.images-upload-block{
    .upload-img{
        height: 165px;
        background-image: url('../../images/bg-border.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        input{
            @include positionItem(absolute, 0, initial, 0, initial, initial);
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    .uploaded-block{
        // @include positionItem(absolute, 0, initial, 0, initial, initial);
        position: relative;
        width: 100px;
        height: 100px;
        z-index: 9;
        margin: 10px;
        overflow: hidden;
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
        }
        .close{
            @include positionItem(absolute, 0, initial, 0, initial, initial);
            background-color: $BgDarkOverlayColor;
            width: 100%;
            height: 100%;
            z-index: 9;
            font-size: 30px;
        }
    }
}

.bg-shape-image{
    .upload-img{
        height: 166px;
        background-image: url('../../images/sh-border.png');
        background-position: initial;
    }
}

// File Upload
.custom-file-upload{
    border: 1px solid $BorderColorInput;
    padding: 11px 20px;
    border-radius: 7px;
}

// Home
.main-body-home{
    .bg-image{
        background-image: url('../../images/vector.png');
        // background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .img-info-home{
        &::after{
            content: "";
            @include positionItem(absolute, 0, initial, 0, 0, rotate(-10deg));
            background-color: $BgDarkOverlayColor;
            width: 420px;
            height: 580px;
            border-radius: 15px;
        }
        .shame{
            @include positionItem(absolute, initial, 170px, initial, initial, initial);
            max-width: 150px;
        }
        .bg-in{
            width: 410px;
            height: 570px;
            border-radius: 15px;
            z-index: 9;
        }
    }
    .in-box-home{
        width: 300px;
        padding: 15px;
        border-radius: 10px;
        .icon-down{
            transform: rotate(90deg);
        }
    }
    &.about{
        .img-info-home{
            &::after{
                content: "";
                @include positionItem(absolute, 50%, initial, 0, auto, translateY(-50%));
                background-color: $BgLightOverlayColor !important;
                width: 85% !important;
                height: 80% !important;
            }
            &::before{
                content: "";
                @include positionItem(absolute, 50%, initial, 20px, initial, translateY(-50%));
                background-color: $White;
                width: 85%;
                height: 90%;
                border-radius: 15px;
            }
            .shame{
                @include positionItem(absolute, initial, -140px, 0, 0, scale(-1.1, 1.1) rotate(20deg));
                max-width: 150px;
            }
            .bg-in{
                width: 85%;
                height: 450px;
            }
        }
    }
}

// Auth
.main-body-auth{
    &::before{
        content: "";
        position: absolute;
        width: 70%;
        height: 100%;
        background-color: $BgOpMainColor;
    }
    .auth-form{
        border-radius: 20px;
        .form-validation{
            form{
                .input-form{
                    .input-val{
                        span{
                            @include positionItem(absolute, initial, -12px, initial, initial, initial);
                        }
                    }
                    .input-count{
                        input{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
                .befor-title{
                    &::after{
                        content: '';
                        background-color: $BgOpMainColor;
                        height: 1px;
                        width: 30%;
                        display: inline-block;
                    }
                    &::before{
                        content: '';
                        background-color: $BgOpMainColor;
                        height: 1px;
                        width: 30%;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .logo{
        border-radius: 15px 0 0 15px;
    }
}

// Body Dashboard
.body-dashboard{
    .nav-tabs{
        &.myTab{
            .nav-item{
                .nav-link{
                    display: inline-block;
                    padding: 10px !important;
                    &.active, &:hover {
                        color: $MainColor !important;
                        background-color: #E7FFFA !important;
                        border-radius: 10px;
                    }
                }
            }
        }
        &.myTabServices{
            .nav-item{
                .nav-link{
                    border: 0;
                    border-bottom: 2px solid #ddd;
                    color: #B2B2B2 !important;
                    cursor: pointer;
                    &.active, &:hover {
                        border-bottom: 2px solid $MainColor;
                        color: $MainColor !important;
                    }
                }
            }
        }
    }
    .belongings{
        .bg-con-belong{
            height: 200px;
            background-image: url('../../images/bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 90%;
            border-radius: 20px;
        }
    }
    .list-add-more{
        ul{
            li{
                span{
                    &::before{
                        content: "";
                        border-radius: 50%;
                        background-color: $XMain;
                        width: 10px;
                        height: 10px;
                        margin-inline-end: 5px;
                        display: inline-block;
                        position: relative;
                        top: 2px;
                    }
                }
                button{
                    width: 20px;
                    height: 20px;
                    border: 1px solid #f00;
                    i{
                        font-size: 10px
                    }
                }
            }
        }
    }
    .show-list-subscription{
        button{
            width: 120px;
        }
    }
}

// Chat
.live-chat{
    .in-box-chat{
        margin: 10px 0;
        p{
            max-width: 330px;
            margin-top: 22px !important;
        }
        &.left-inbox{
            p{
                border-radius: 0 15px 15px 15px;
            }
        }
        &.right-inbox{
            p{
                border-radius: 15px 0 15px 15px;
            }
            h6{
                text-align: end;
            }
        }
    }
}

// PoP Hover
.pop-hover{
    p{
        @include positionItem(absolute, initial, -10px, initial, initial, initial);
        @include transition(0.5s);
        font-size: 9px;
        width: 115px;
        background-color: #ffe8e8;
        padding: 4px;
        border: 1px solid #ffcece;
        border-radius: 5px;
        line-height: 15px;
        opacity: 0;
        visibility: hidden;
    }
    &:hover{
        p{
            opacity: 1;
            visibility: initial;
        }
    }
}

.remove-offer{
    img{
        max-width: 350px;
    }
}

// Plus Gallery
.plus-gallery{
    .images-upload-block{
        .upload-img{
            background-image: url('../../images/boder.png');
            width: 140px;
            height: 140px;
        }
        .uploaded-block{
            width: 140px;
            height: 140px;
            .control-img{
                @include positionItem(absolute, 0, initial, 0, initial, initial);
                @include transition(0.5s);
                background-color: $BgDarkOverlayColor;
                opacity: 0;
                visibility: hidden;
                z-index: 9;
            }
            &:hover{
                .control-img{
                    opacity: 1;
                    visibility: initial;
                }
            }
        }
    }
}

// Switch
.switch {
    width: 75px;
    height: 30px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        @include positionItem(absolute, 0, 0, 0, 0, initial);
        @include transition(0.5s);
        background-color: #ccc;
        cursor: pointer;
        &.round:before {
            border-radius: 50%;
        }
        &.round {
            border-radius: 34px;
        }
        &:before {
            content: "";
            @include positionItem(absolute, 3px, initial, initial, 6px, initial);
            @include transition(0.5s);
            height: 23px;
            width: 23px;
            background-color: $White;
        }
    }
}
  
input:checked + .slider {
    background-color: $MainColor;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px $MainColor;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

// Box Gallery Img

.box-gallery-img{
    .over-control{
        @include positionItem(absolute, 0, initial, 0, initial, initial);
        @include transition(0.5s);
        background-color: $BgDarkOverlayColor;
        z-index: 9;
    }
}

.sc-gallery{
    .images-upload-block{
        width: 150px;
        height: 150px;
        .upload-img{
            background-image: url('../../images/boder.png');
            width: 100%;
            height: 100%;
        }
        .upload-area{
            .uploaded-block{
                @include positionItem(absolute, 0, initial, 0, initial, initial);
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Drop Menu
.in-select-menu{
    .dropdown {
        .on-click-head-menu{
            border-radius: 15px 15px 0px 0px;
            cursor: pointer
        }
        .dropdown-list {
            @include positionItem(absolute, 63px, initial, 0, 0, initial);
            @include transition(0.5s);
            max-height: 223px;
            overflow-y: auto;
            background: $White;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
        }
        &.open {
          .icon-down{
            transform: rotate(-180deg);
          }
          .dropdown-list{
            opacity: 1;
            visibility: initial;
          }
        }
      }
}
  
  
  
