@use '../abstracts/mixins' as *;

// Dir LTR

html[dir=ltr] {

    // Body App
    body{
        direction: ltr;
    }

    .fix-icon-Input{
        right: 10px;
    }

    .overlay-fixed{
        transform: translateX(-100%);  
        left: 0;            
    }
    
    // Home
    .main-body-home{
        .img-info-home{
            .shame{
                left: -60px;
                transform: scale(-1.1, 1.1);
            }
        }
        &.about{
            .img-info-home{
                &::after{
                    left: 0;
                    right: auto;
                }
                &::before{
                    left: 20px;
                }
            }
            .shame{
                left: 0;
            }
        }
    }

    // Auth
    .main-body-auth{
        &::before{
            right: 0;
        }
        .auth-form{
            .form-validation{
                form{
                    .input-form{
                        .input-val{
                            span{
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    // Media
    @media (max-width: 990px) {
        // Nav
        .nav-header{
            transform: translateX(-100%);  
            left: 0;
        }
    }

}

// Dir RTL

html[dir=rtl] {

    // Body App
    body{
        direction: rtl;
    }

    .fix-icon-Input{
        left: 10px;
    }

    .overlay-fixed{
        transform: translateX(100%);  
        right: 0;            
    }
    
    // Home
    .main-body-home{
        .img-info-home{
            .shame{
                right: -60px;
            }
        }
        &.about{
            .img-info-home{
                &::after{
                    right: 0;
                    left: auto;
                }
                &::before{
                    right: 20px;
                }
            }
            .shame{
                right: 0;
            }
        }
    }

    // Auth
    .main-body-auth{
        &::before{
            left: 0;
        }
        .auth-form{
            .form-validation{
                form{
                    .input-form{
                        .input-val{
                            span{
                                left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    // Drop Down
    .dropdown-menu{
        text-align: right;
    }

    // Media
    @media (max-width: 990px) {
        // Nav
        .nav-header{
            transform: translateX(100%);  
            right: 0; 
        }
    }

}