@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

@media (max-width: 990px) {

    // classes
    .w-50, .w-75{
        width: 100% !important;
    }
    .pt-5{
        padding-top: 20px !important
    }
    .pb-5{
        padding-bottom: 20px !important
    }
    .mt-5{
        margin-top: 20px !important
    }
    .mb-5{
        margin-bottom: 20px !important
    }
    .ps-5{
        padding-left: 0 !important;
    }

    .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
        width: 100% !important;
    }

    // Nav
    .nav-header{
        @include positionItem(fixed, 0, initial, initial, initial, initial);
        @include transition(0.5s);
        background-color: $White;
        z-index: 999;
        width: 250px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        flex-direction: column;
        align-items: initial !important;
        justify-content: initial !important;
        .text-white{
            color: $MainColor !important;
            padding: 0 20px;
        }
        ul{
            flex-direction: column;
            align-items: initial !important;
            padding: 0 !important;
            li{
                display: block;
                a{
                    display: block;
                    margin: 0 !important;
                }
            }
        }
        .last-control{
            align-items: initial !important;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            a{
                margin: 10px 0 !important;
                padding: 0 20px;
                display: block;
                &:last-child{
                    align-self: flex-end;
                }
            }
        }
    }

    // Header
    .in-head-mobile{
        width: 100%;
    }

    // Style Click Nav
    .click-nav {
        display: flex !important;
    }

    // Home
    .main-body-home{
        .img-info-home{
            margin-top: 100px;
            &::after{
                width: 100%;
                height: 580px;
            }
            .shame{
                display: none;
            }
            .bg-in{
                width: 100%;
                height: 570px;
            }
        }
        .over-watch{
            flex-direction: column;
            .in-box-home{
                width: 100%;
                margin: 10px 0;
                .icon-down{
                    transform: rotate(90deg);
                }
            }
        }
        .info-head{
            text-align: center;
            margin: 20px 0;
        }
        &.about{
            .img-info-home{
                margin-top: 0px;
            }
            .list-links{
                padding-top: 0 !important;
                margin-top: 0 !important;
                padding-bottom: 50px !important;
                ul{
                    flex-wrap: wrap;
                    li{
                        flex-basis: 50%;
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    // Auth
    .main-body-auth{
        .col{
            display: none;
        }
        .container{
            align-items: initial !important;
        }
        .auth-form{
            display: flex;
            align-items: center;
            // justify-content: center;
            flex-direction: column;
            overflow-y: auto !important;
            .row{
                width: 100%;
                margin: 0;
            }
        }
        &.in-auth-mini{
            .auth-form{
                justify-content: center;
            }
        }
    }

}

@media (max-width: 767px) {

    
}



