// Font Import Cdn
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700&display=swap');

// Mixin
@import '../abstracts/mixins';
@import '../abstracts/variables';

// Root Var
:root {
    --backRightIn: translateX(0);
    --backLefttIn: translateX(0);
}

// Local Style Page

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Tajawal', sans-serif;
    line-height:normal
}

a, button, input, textarea, i{
    @include transition(0.5s);
}

img{
    object-fit: cover;
}

a{
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
    color: $SecondColor !important;
}

i{
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 10px 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

// Tools Form

input{
    border: 1px solid $BorderColorInput;
    padding: 11px 20px;
    border-radius: 7px;
}

textarea{
    border: 1px solid $BorderColorInput;
    padding: 13px 20px;
    border-radius: 2px;
    min-height: 100px;
    resize: none;
}

::-webkit-input-placeholder {
    color: $PlacholderInputColor;
    opacity: 1;
}

::-moz-placeholder {
    color: $PlacholderInputColor;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $PlacholderInputColor;
    opacity: 1;
}

:-moz-placeholder {
    color: $PlacholderInputColor;
    opacity: 1;
}

.fix-icon-Input{
    @include positionItem(absolute, 50%, initial, initial, initial, translateY(-50%));
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

// Style Scroll Site

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

// Colors

.colorMain{
    color: $MainColor !important;
}

.colorXMain{
    color: $XMain !important;
}

.secondColor{
    color: $SecondColor !important;
}

.mainColorOp{
    color: $BgOpMainColor;
}

.textLabelColor{
    color: $LabelText;
}

.icon-star{
    color: #FFC107;
}

// Bg Colors

.bgColorMain{
    background-color: $MainColor !important;
}

.bgXMain{
    background-color: $XMain !important;
}

.bgSecondColor{
    background-color: $SecondColor !important;
}

.bgColorInput{
    background-color : $BgColorInput !important
}

.bgManinOverlayColor{
    background-color: $BgManinOverlayColor !important;
}

.bgColorMainOp{
    background-color: #CAFFF4;
}

.bgMainOp{
    background-color: $BgOpMainColor;
}

.bgBody{
    background-color: #F2F2F2;
}

// Border Color

.borderColorMain{
    border: 1px solid $MainColor !important;
}

.borderSecondColor{
    border: 1px solid $SecondColor !important;
}

.borderColorInput{
    border: 1px solid $BorderColorInput !important;
}

.borderWhite{
    border-color: $White !important;
}

.borderMainOp{
    border-color: $BgOpMainColor !important;
}

.borderMain{
    border-color: $MainColor !important;
}

.borderDanger{
    border-color: #f00 !important;
}

// Class Important

button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
  
.btn-button{
    height: 40px;
    line-height: 42px;
    width: 160px;
    font-size: 15px;
    border-radius: 10px;
    &:hover{
      transform: scale(0.9);
    }
}

.overlay-fixed{
    @include positionItem(fixed, 0, initial, initial, initial, initial);
    @include transition(0.3s);
    z-index: 998;
    background-color: $BgDarkOverlayColor;              
}

.overlay-absolute{
    @include positionItem(absolute, 0, initial, 0, initial, initial);
    background-color: $BgDarkOverlayColor;              
}

.back{
    transform: translate(0) !important;
}

.hv{
    height: 100vh;
}

.owl-carousel{
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    direction: ltr;
}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
}

.main-body{
    min-height: 500px;
}

.old-shadow{
    box-shadow: 0 3px 6px #00000029;
}

.height-view-scroll{
    height: 500px;
    overflow-y: auto;
}

// Fonts Sizs

.small-font-10{
    font-size: 10px;
}

.small-font-11{
    font-size: 11px;
}

.small-font-12{
    font-size: 12px;
}

.small-font-13{
    font-size: 13px;
}

.small-font-14{
    font-size: 14px;
}

// Circle Icon BTN
.icon-circle{
    width: 35px;
    height: 35px;
}

.img-circle{
    width: 50px;
    height: 50px;
}

// Img Contain
.img-contain{
    object-fit: contain;
}