// Colors Page

$MainColor                          : #4ECEB6;
$XMain                              : #13848B;
$SecondColor                        : #6D6D6D;

$BgDarkOverlayColor                 : rgba(0,0,0,0.5);
$BgLightOverlayColor                : rgba(255, 255, 255, 0.5);
$BgManinOverlayColor                : #E7FFFA;
$BgOpMainColor                      : #ACECE0;

$BorderColorInput                   : #CFCFCF;
$BgColorInput                       : #F6F6F6;
$TextColorInput                     : #757575;
$PlacholderInputColor               : #989898;
$LabelText                          : #6D6D6D;

$White                              : #FFF;
$Gray                               : #BABABA;
$Black                              : #000;